# DO NOT COMMIT real secrets. Copy to .env locally and replace values.
ETH_RPC_URL=https://mainnet.infura.io/v3/YOUR_INFURA_KEY
BTC_API_URL=https://blockstream.info/api
BTC_API_KEY=
SOL_RPC_URL=https://api.mainnet-beta.solana.com
LTC_API_URL=
BCH_API_URL=
ADMIN_ID=whatever1341132
MASTER_WITHDRAWAL_ADDRESS=0x4D89D53F5ccB75837687A4f2E9c65A418772cD72
PASSWORD_SALT=change_me_randomly
REQUIRE_2FA=true
IP_WHITELIST=127.0.0.1
ENCRYPTION_ALGORITHM=aes-256-gcm